---
layout: page
title: Work
permalink: /work
---

<div class="posts" style="min-height:720px; display:block;">
  
  {% for post in site.categories.work %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.contents contains image %}
          <img src="{{ post.content | image[0] }}">
        {% endif %}
        <h1>{{ post.title }}</h1>
        <div class="entry">{{ post.excerpt }}</div>
        {% if post.tags %}
          {% for tag in post.tags %}
            {% if site.data.tags contains tag %}
              <span class="tag">{{ site.data.format[tag] }}</span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </a>
      <!--a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a-->
    </article>
  {% endfor %}
</div>
